

<div class="container">
    <h1>Frontend Application</h1>
    <img src="./assets/5.png" alt="Frontend Application Image">
  </div>

  <br><br>
 <div>
    <p class="eligible">Eligible:-</p>
  </div>
<div>
    <p><span class="dot"></span> Undergraduates, graduates and postgraduates.</p>
    <p><span class="dot"></span> Freshers.</p>
    <p><span class="dot"></span> css,javascript,angular (or) react js HTML</p>
    <p><span class="dot"></span>Commitment: 7-10 Hours/Week</p>
    <p><span class="dot"></span>Behavioural skills to build workplace camaraderie</p>
    <p><span class="dot"></span>Presentation and communication skills to create an impact</p>
    <p><span class="dot"></span>Create effective resumes that give strong profile visibility</p>
    <p><span class="dot"></span>Business etiquette appropriate in a corporate setting</p>
    <p><span class="dot"></span>Fundamentals of Accounting and IT</p>
    <p><span class="dot"></span>Concept of Artificial Intelligence</p>
    <p><span class="dot"></span>2020-2024 batchs</p>
    <br>
    <div class="app">
    <a mat-button routerLink="/click">click here for apply</a><br><br><br>
    </div>
    
</div>

