<div class="container">
    <div class="row">
        <div class="card">
            <mat-card routerLink="/aws">AWS
                <img src="./assets/7.jpg" class="card-image">
                <mat-card-content>
                    <p>It is an AWS Technology</p>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="card">
            <mat-card routerLink="/linux">LINUX
                <img src="./assets/7.png" class="card-image">
                <mat-card-content>
                    <p>It is a LINUX Technology</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <mat-card routerLink="/salesforce">SALESFORCE
                <img src="./assets/8.png" class="card-image">
                <mat-card-content>
                    <p>It is a SALESFORCE Technology</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="card">
            <mat-card routerLink="/azure">AZURE
                <img src="./assets/9.jpg" class="card-image">
                <mat-card-content>
                    <p>It is an AZURE Technology</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>