.example-spacer {
    flex: 1 1 auto;
  }
.example-select {
    width: 150px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff; 
    color: #333; 
    font-size: 14px; 
    padding: 8px;
    margin: 20px;
    
    
    margin-left: -10px; 
}
.mat-toolbar a {
    color: #fff;
   
    margin-right: 30px;
  }
.mat-grid-tile {
  background:cornflowerblue;
}






