
  
<mat-toolbar color="primary">
  <span>Company Name</span>
  <span class="example-spacer"></span>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/about">About Us</a>
  

 

  <mat-select class="example-select" placeholder="HIRING ON">
    <mat-option routerLink="/frontend">FrontEnd</mat-option>
    <mat-option value="BackEnd">BackEnd</mat-option>
    <mat-option value="Full Stack">Full Stack</mat-option>
    <mat-option value="QA Testing">QA Testing</mat-option>
  </mat-select>

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
