.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

.centered {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered > div {
  margin: auto;
  font: size 24px;
}
.row{
  display:flex;
  gap:20px;
}

